<div class="div-slide ">
    <div class="sidebar sticky-Sidebar">
        <div class="instagram_blog list_group">
            <h4 class="list_group_title">
                Follow us on Instagram
            </h4>
            <ul class="list_img_ins row" id="instafeed">
                <div class="icon-loading"><div class="uil-ring-css"><div></div></div></div></ul>
        </div>
        <div class="instagram-blog list_group">
            <h4 class="list_group_title ">
                Popular tags
            </h4>
            <ul class="list_tags navbar row">
                <li class="nav ">
                    <a class="btn btn-default" href="/blogs/news/tagged/tunongtraidentachcaphe" >tunongtraidentachcaphe</a>
                <li class="nav ">
                    <a class="btn btn-default" href="/blogs/news/tagged/hanhtrinhhanhphuc" title="Show articles matching tag hanhtrinhhanhphuc">hanhtrinhhanhphuc</a></li>
                <li class="nav ">
                    <a class="btn btn-default" href="/blogs/news/tagged/fromfarmtocup" title="Show articles matching tag fromfarmtocup">fromfarmtocup</a></li>
                <li class="nav ">
                    <a class="btn btn-default" href="/blogs/news/tagged/coldbrew" title="Show articles matching tag coldbrew">coldbrew</a></li>
                <li class="nav ">
                    <a class="btn btn-default" href="/blogs/news/tagged/monmoi" title="Show articles matching tag monmoi">monmoi</a></li>
                <li class="nav ">
                    <a class="btn btn-default" href="/blogs/news/tagged/caphephalanh" title="Show articles matching tag caphephalanh">caphephalanh</a></li>
                <li class="nav ">
                    <a class="btn btn-default" href="/blogs/news/tagged/xuhuongcaphe" title="Show articles matching tag xuhuongcaphe">xuhuongcaphe</a></li>
            </ul>
        </div>
        <div class="crop_blog list_group">
            <h4 class="list_group_title">CROP</h4>
            <ul class="list_img_crop clearfix row">
                <li class="nav col-md-6 col-sm-6"><a href="/blogs/crop/crop-3-by-the-coffee-house">
                    <img src="//file.hstatic.net/1000075078/article/crop32_large.jpg" width="100%"></a>
                </li>
                <li class="nav col-md-6 col-sm-6"><a href="/blogs/crop/crop-2-by-the-coffee-house">
                    <img src="//file.hstatic.net/1000075078/article/crop22_large.jpg"  width="100%"></a>
                </li>
                <li class="nav col-md-6 col-sm-6"><a href="/blogs/crop/crop-1-by-the-coffee-house">
                    <img src="//file.hstatic.net/1000075078/article/crop12_large.jpg"  width="100%"></a>
                </li>
            </ul>
        </div>
    </div>
</div>