<aside class="sidebar_menu" style="position: sticky;">
    <ul>
        <li>
            <a class="menu_scroll_link" href="#mon-noi-bat">
                <span class="span-title-1">
                    MÓN NỔI BẬT
                </span>
            </a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#ca-phe">
                <span class="span-title-1">
                    CÀ PHÊ
                </span>
            </a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#tra-macchiato">
                <span class="span-title-1">
                    TRÀ &amp; MACCHIATO
                </span>
            </a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#thuc-uong-da-xay">
                <span class="span-title-1">
                    THỨC UỐNG ĐÁ XAY
                </span>
            </a>
        </li>
        <li>
            <a class="menu_scroll_link" href="#thuc-uong-trai-cay">
                <span class="span-title-1">THỨC UỐNG TRÁI CÂY</span>
            </a>
        </li>
    </ul>
</aside>
