{{>header}}
<div class="modal-dialog  modal-sm">
    <div class="modal-content animate">
        <form action="">
            <div class="modal-header">
                <h4 class="modal-title" style="font-family: 'Google Sans', 'Noto Sans Myanmar UI', 'arial', sans-serif;">Quên mật khẩu?</h4>
            </div>
            <div class="modal-body">
                <h5 style="font-family: 'Google Sans', 'Noto Sans Myanmar UI', 'arial', sans-serif;">Vui lòng cung cấp email hoặc số điện thoại đăng nhập để lấy lại mật khẩu.</h5>
                <input type="text"  class="form-control"  required id="email" placeholder="Nhập email hoặc số điện thoại">
            </div>
            <div class="modal-footer">
                <button type="submit" style="font-family: 'Google Sans', 'Noto Sans Myanmar UI', 'arial', sans-serif;" class="btn btn-success btn-block">
                    <h4>Gửi</h4>
                </button>
            </div>
        </form>
    </div>
</div>
{{>footer}}