{{>header}}
{{>banner-about-part}}
<div class="container-fluid container1" style="background-color: white; padding-bottom: 20px;"><br><br>
    <div class="col-md-12 text-center">
        <p>
            <span><a href="">TRANG CHỦ</a></span>&nbsp;&nbsp;/
            <span><a href="">GIỚI THIỆU</a></span>
        </p>
        <hr style="color: black">
        <P>
            <span><h2>Về Chúng Tôi</h2></span>

        </P>
        <p>
            <a class="brand" href="/home" style="color: #148734;"><strong>tic'tac'</strong></a>
        </p>
    </div><br><br><br><br>
    <div class="container">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="sidebar-title">
                <h4 style="color: green;">VỀ CHÚNG TÔI</h4>
            </div>
            <h4>
                        “Café thói quen”- uống café là một thói quen của mọi người, nó hầu như là hoạt động đầu tiên của nhiều người khi bắt đầu một ngày mới
            </h4>
            <h4>
                        Tại ”Tíc Tắc”, chúng tôi luôn luôn  trân trọng những câu chuyện và đề cao nhu cầu của khách hàng.
                        Chúng tôi mong muốn Tíc Tắc sẽ là nơi mà  mọi người có thể tìm được mặt hàng mà họ mong muốn,
                        là nơi họ có thể tận hưởng được  mùi hương và sự đậm đà của café.
            </h4>
            <h4>
                Chúng tôi xây dựng nên thương hiệu dựa trên 3 tiêu chí :
                <ul>
                    <li>Tiện lợi : khách hàng có thể nhanh chóng mua được sản phẩm của mình.</li>
                    <li>Chất lượng : những sản phẩm của chúng tôi đều được đảm bảo an toàn.</li>
                    <li>Nhanh chóng : sau khi đặt hàng 15p ,khách hàng có thể nhận được sản phẩm.</li>
                </ul>
            </h4><br><br>

            <div class="sidebar-title">
                <h4 style="color: green;">TẦM NHÌN</h4>
            </div>
            <h4>
                1. Với khát vọng không ngừng mở rộng thị trường - phát triển bền vững, Tic'tac' phấn đấu trở thành cửa hàng chuyên sản xuất và phân phối trà sửa, cà phê và nước uống có giá trị cao tại Đà Nẵng và cả Việt Nam  .
            </h4>
            <h4>
                2. Phúc Long mong muốn tạo nên một thương hiệu với đẳng cấp và chất lượng được thể hiện trong từng sản phẩm, qua đó từng bước khẳng định vị thế trên thị trường Việt Nam.
            </h4><br><br>

            <div class="sidebar-title">
                <h4 style="color:green;">SỨ MỆNH</h4>
            </div>
            <h4>
                1. Trở thành cửa hàng phân phối nước giải khát hàng đầu.
            </h4>
            <h4>
                2. Đưa thương hiệu trà sửa đảm bảo chất lượng đến các vùng miền trên đất nước Việt Nam.
            </h4><br><br>

            <div class="sidebar-title">
                <h4 style="color: green;">LĨNH VỰC HOẠT ĐỘNG</h4>
            </div>
            <h4>1. Sản xuất, xuất khẩu, kinh doanh các sản phẩm trà sửa , cà phê và nước giải khát thành phẩm . </h4>
            <h4>
                2. Phân phối : tại cửa hàng hoặc đặt hàng tại trang web của chúng tôi.
            </h4>
        </div>
    </div>
</div>
{{>footer}}