{{>header}}
<div style="position: relative ; top: 0;">
    <img class="img-responsive" src="https://i2.wp.com/www.christiesrealestate.com/blog/wp-content/uploads/2018/11/Bathtub_Gin_Cocktails_banner.jpg?resize=1600%2C550&ssl=1" alt="">
</div>
<div id="blog" class="container-fluid ">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <p>
                <a href="/home"><span style="font-size: 25px">Trang chủ </span></a>&nbsp;&nbsp;/&nbsp;&nbsp;
                <a href="/home/blogs/news"><span style="font-size: 25px">Blog</span></a>
            </p>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8"><br>
                {{>blog-tag-part}}
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                {{>blog-tab-part}}
            </div>
        </div>
    </div>
    <div class="container text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>

{{>footer}}
